<div id="<%= dom_id cliente %>">
  <p>
    <strong>Dni:</strong>
    <%= cliente.dni %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= cliente.edad %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

</div>
