<div id="<%= dom_id pedido %>">
  <p>
    <strong>Id pedido:</strong>
    <%= pedido.id_pedido %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= pedido.dni %>
  </p>

  <p>
    <strong>Fecha pedido:</strong>
    <%= pedido.fecha_pedido %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= pedido.total %>
  </p>

</div>
